@import "normalize.css";
@import "header.css";
@import "footer.css";

:root {
  --primary-bg: #eff6ff;
  --border-color: #e0e0e0;
  --text-main: #333333;
  --text-secondary: #666666;

  /*Event type*/
  --sports-green: #dcfce7;
  --sports-green-text: #016630;
  --academic-blue: #dbeafe;
  --academic-blue-text: #193cb8;
  --language-yellow: #fef9c2;
  --language-yellow-text: #894b00;
  --cultural-purple: #f3e8ff;
  --cultural-purple-text: #6e11b0;
  --social-pink: #fce7f3;
  --social-pink-text: #a3004c;

  /*Other*/
  --available-green: #2e7d32;
}

/* html{
    
} */

body {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: var(--primary-bg);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex: 1;
}