<section class="login">
    <div class="login__header">
        <app-back-button></app-back-button>
        <h1>Log in</h1>
    </div>

    <form class="login__form" [class.was-validated]="submitted" [formGroup]="form" (ngSubmit)="submit()" novalidate>
        <div class="form-group">
            <label for="username">Username or e-mail:</label>
            <input id="username" type="text" formControlName="username" required minlength="3" maxlength="100" />
            <span class="error-message">Enter a valid username or e-mail.</span>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input id="password" type="password" formControlName="password" required minlength="8" />
            <span class="error-message">Password must be at least 8 characters.</span>
        </div>

        <div class="login__registration-link">
            <a routerLink="/registration">Registration?</a>
        </div>

        <button type="submit" class="btn btn--primary">Log in</button>
    </form>

    <p class="error-message" style="display:block" *ngIf="error">{{ error }}</p>
</section>