<footer class="site-footer">
    <div class="site-footer__content">
        <div class="site-footer__contact">
            <div class="site-footer__contact-item">
                <img src="/assets/map.png" alt="Location" />
                <span>C/ Erasmus Plaza, Las Palmas</span>
            </div>
            <div class="site-footer__contact-item">
                <img src="/assets/phone.png" alt="Phone number" />
                <span>+34 600 000 000</span>
            </div>
        </div>

        <div class="site-footer__social">
            <a href="#" class="site-footer__social-link">
                <img src="/assets/fb.png" alt="Facebook" />
                <span>Facebook</span>
            </a>
            <a href="#" class="site-footer__social-link">
                <img src="/assets/ig.png" alt="Instagram" />
                <span>Instagram</span>
            </a>
            <a href="#" class="site-footer__social-link">
                <img src="/assets/x.png" alt="X" />
                <span>X</span>
            </a>
        </div>
    </div>

    <div class="site-footer__copyright">
        <span>Erasmus Events Organizer © {{ year }}</span>
    </div>
</footer>