<a href="{{detailUrl}}" class="event-card-link">
    <div class="event-card">
        <div class="event-image"></div>

        <div class="event-content">
            <div class="header-row">
                <h2 class="event-title">{{title}}</h2>
                <span class="category-tag category-tag--{{category}}">
                    {{category}}
                </span>
            </div>
            <p class="description">{{description}}</p>
        </div>

        <div class="event-content event-content--details">
            <div class="event-details">
                <div class="detail-item">
                    <span class="icon">📅</span> {{dateFormatted}}
                </div>
                <div class="detail-item">
                    <span class="icon">🕒</span> {{time}}
                </div>
                <div class="detail-item">
                    <span class="icon">📍</span> {{location}}
                </div>
            </div>
        </div>
    </div>
</a>